// Normally mainpage styles

//header
 .header_top{
	background:#222;
	height: 50px;
	font-size: 14px;
 }
 	.trigger_menu{
 		display: none;
 	}
 	.head_menu{
 		ul{
 			float: left;
 			width: 665px;
 		}
 		span{
 			float: right;
 		}
 		li{
 			display: inline-block;
 			height: 50px;
 		}
 		a{
			padding: 0 12px;
			line-height: 50px;
			color: #d8d8d8;
			text-decoration: none;
			display: block;
			height: 50px;
			&:hover, &.active{
				background:#040201;
			}
		}
 	}
 	.header_block{
 		padding: 35px 0 29px 0;
 		@include povh('');
 		blockquote{
 			padding: 7px 0 0 0;
 			float: right;
 			width: 362px;
 			font-family: 'Roboto', sans-serif;
 			font-size: 24px;
 			font-weight: 300;
 			font-style: italic;
 			color: #262626;
 			line-height: 1.4;
 			span{
 				display: block;
 				text-align: right;
 			}
 		}
 	}
 		.logo{
 			width: 210px;
 			float: left;
 		}
		
//main
.main{
	@include povh('');
}
	.slider_wrapper{
		height: 369px;
		margin-bottom: 48px;
	}
		.slider_wrapper .bx-wrapper .bx-pager{
			z-index: 10;
			bottom: 13px;
			a{
				height: 11px;
				width: 11px;
				margin: 0 2px;
				border: 1px solid #fff;
				border-radius: 50%;
				background:none;
				&:hover, &.active{
					background:#fff;
				}
			}
		}
	.news_wrap{
		@include povh('');
		margin-left: -13px;
		padding-bottom: 50px;
	}
		.news_block{
			float: left;
			width: 300px;
			text-align: center;
			margin: 0 0 20px 20px;
			color: #505050;
			line-height: 1.5;
			dl{
				padding: 21px 0 22px 0;
				dt{
					padding-bottom: 8px;
					font-weight: bold;
					font-family: $fontfamily;
					font-size: 20px;
				}
			}
		}
	.partners_wrap{
		@include povh('');
		padding-bottom: 26px;
		h6{
			color: #505050;
			font-weight: 300;
			font-family: $fontfamily ;
			text-transform: uppercase;
			border-bottom: 1px solid #505050;
			padding-bottom: 9px;
			margin-bottom: 18px;
		}
		figure a{
			display: inline-block;
			padding: 0 10px;
		}
	}
		.partners_left{
			width: 35%;
			float: left;
		}
		.partners_right{
			width: 63%;
			float: right;
		}
//footer
.footer{
	background:#000;
	padding-bottom: 14px;
	color: #626262;
}
	.foot_info{
		overflow: hidden;
	}
		.foot_info > div{
			float: left;
			@include povh('');
			padding-top: 48px;
			height: 353px;
			box-sizing: border-box;
		}
		.foot_form{
			width: 228px;
		}
			.foot_title{
				text-transform: uppercase;
				color: #b0b0b0;
				font-weight: bold;
				font-family: $fontfamily ;
				font-size: 16px;
				padding-bottom: 10px;
			}
			.foot_form div{
				margin-bottom: 8px;
				input{
					height: 40px;
				}
				textarea{
					height: 87px;
					padding-top: 5px;
				}
			}
		.foot_map{
			margin-left: 100px;
			width: 229px;
		}
		.foot_social{
			float: right;
			width: 309px;
			background:#272727;
			padding-left: 38px;
			padding-right: 38px;
			height: 353px;
			nav{
				padding: 22px 0 0 0;
				a{
				display: block;
				margin-bottom: 27px;
				vertical-align: middle;
				text-decoration: none;
				font-size: 15px;
				color: #b8b8b8;
					img, span{
						vertical-align: middle;
					}
					span{
						padding-left: 10px;
					}
				}
			}
		}
	.foot_bottom{
		text-align: center;
		padding: 17px 0 0 0;
		li{
			display: inline-block;
			padding: 0 18px;
			border-left: 1px solid #626262;
			text-transform: uppercase;
			font-size: 15px;
			&:first-child{
				border: none;
			}
			a{
				text-decoration: none;
			}
		}
	}